EXO_WS_GP/EXO_WS_GP/TestWS/Service References/WS_GP/EXO_WS_GP2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="https://192.168.142.98:50446/EXO_WS_GP.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/EXO_WS_GP" />
  <xs:element name="ping">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="pingResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="pingResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="LoginUsuario">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="BaseDatos" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="Usuario" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="Password" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="LoginUsuarioResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="LoginUsuarioResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="BasesDeDatos">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="BasesDeDatosResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="BasesDeDatosResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UbicacionesDelAlmacen">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="BaseDatos" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="Usuario" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="Password" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UbicacionesDelAlmacenResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="UbicacionesDelAlmacenResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RecepcionMaterialesBuscador">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="BaseDatos" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="Usuario" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="Password" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="NomProv" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="NumContenedor" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="CodEan" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="DescArt" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RecepcionMaterialesBuscadorResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="RecepcionMaterialesBuscadorResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="PedidoCompraRegistrarLinea">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="BaseDatos" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="Usuario" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="Password" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="JSON" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="PedidoCompraRegistrarLineaResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="PedidoCompraRegistrarLineaResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="PedidoCompraGenerar">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="BaseDatos" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="Usuario" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="Password" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="PedidoCompraGenerarResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="PedidoCompraGenerarResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ListasPicking">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="BaseDatos" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="Usuario" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="Password" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ListasPickingResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ListasPickingResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UbicacionesDelAlmacenBahias">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="BaseDatos" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="Usuario" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="Password" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UbicacionesDelAlmacenBahiasResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="UbicacionesDelAlmacenBahiasResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DesglosePicking">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="BaseDatos" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="Usuario" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="Password" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="NumeroPicking" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DesglosePickingResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="DesglosePickingResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="OperacionesTraslado">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="JSON" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="BaseDatos" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="Usuario" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="Password" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="OperacionesTrasladoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="OperacionesTrasladoResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GenerarPicking">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="JSON" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="BaseDatos" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="Usuario" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="Password" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GenerarPickingResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GenerarPickingResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ComprobarExisteArticulo">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="BaseDatos" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="Usuario" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="Password" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="CodEan" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ComprobarExisteArticuloResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ComprobarExisteArticuloResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ComprobarArticuloSalida">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="BaseDatos" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="Usuario" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="Password" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="Articulo" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="Lote" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="Cantidad" type="xs:double" />
        <xs:element minOccurs="0" name="Ubicacion" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ComprobarArticuloSalidaResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ComprobarArticuloSalidaResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GenerarDocumentoEntradaManual">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="JSON" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="BaseDatos" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="Usuario" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="Password" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GenerarDocumentoEntradaManualResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GenerarDocumentoEntradaManualResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GenerarDocumentoSalidaManual">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="JSON" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="BaseDatos" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="Usuario" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="Password" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GenerarDocumentoSalidaManualResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GenerarDocumentoSalidaManualResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ComPruebaArticulo">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="BaseDatos" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="Usuario" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="Password" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="CodArticulo" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="CodEan" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="EsLote" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ComPruebaArticuloResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ComPruebaArticuloResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="zIniClassPedidoCompraRegistrarLinea">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="zIniClassPedidoCompraRegistrarLineaResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/EXO_WS_GP" minOccurs="0" name="zIniClassPedidoCompraRegistrarLineaResult" nillable="true" type="q1:PedidoCompraRegistrarLinea" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="zIniClassTraslados">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="zIniClassTrasladosResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/EXO_WS_GP" minOccurs="0" name="zIniClassTrasladosResult" nillable="true" type="q2:Traslado" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="zIniGenerarPicking">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="zIniGenerarPickingResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/EXO_WS_GP" minOccurs="0" name="zIniGenerarPickingResult" nillable="true" type="q3:GenerarPicking" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="zOperacionEntradaSalida">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="zOperacionEntradaSalidaResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/EXO_WS_GP" minOccurs="0" name="zOperacionEntradaSalidaResult" nillable="true" type="q4:OperacionEntradaSalida" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="PedioCompraResumenFinalizar">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="BaseDatos" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="Usuario" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="Password" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="PedioCompraResumenFinalizarResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="PedioCompraResumenFinalizarResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="zOperacionTraslado">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="zOperacionTrasladoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/EXO_WS_GP" minOccurs="0" name="zOperacionTrasladoResult" nillable="true" type="q5:OperacionTraslado" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GenerarPicking2">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="JSON" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="BaseDatos" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="Usuario" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="Password" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GenerarPicking2Response">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GenerarPicking2Result" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="PedidoCompraRegistrarLinea2">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="BaseDatos" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="Usuario" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="Password" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="JSON" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="PedidoCompraRegistrarLinea2Response">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="PedidoCompraRegistrarLinea2Result" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GenerarDraftEntrega">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="BaseDatos" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="Usuario" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="Password" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GenerarDraftEntregaResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GenerarDraftEntregaResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ConsultaStock">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="BaseDatos" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="Usuario" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="Password" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="Filtro" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ConsultaStockResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ConsultaStockResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ListasPickingMultiple">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="BaseDatos" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="Usuario" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="Password" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ListasPickingMultipleResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ListasPickingMultipleResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DesglosePickingMultiple">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="BaseDatos" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="Usuario" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="Password" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="NumeroPicking" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DesglosePickingMultipleResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="DesglosePickingMultipleResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ListasRecuentoInventario">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="BaseDatos" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="Usuario" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="Password" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ListasRecuentoInventarioResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ListasRecuentoInventarioResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DesgloseRecuentoInventario">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="BaseDatos" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="Usuario" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="Password" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="NumRecuento" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DesgloseRecuentoInventarioResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="DesgloseRecuentoInventarioResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="zListasRecuentoInventarioCabecera">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="zListasRecuentoInventarioCabeceraResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/EXO_WS_GP" minOccurs="0" name="zListasRecuentoInventarioCabeceraResult" nillable="true" type="q6:ListasRecuentoInventarioCabecera" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="zListasRecuentoInventarioDetalle">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="zListasRecuentoInventarioDetalleResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q7="http://schemas.datacontract.org/2004/07/EXO_WS_GP" minOccurs="0" name="zListasRecuentoInventarioDetalleResult" nillable="true" type="q7:ListasRecuentoInventarioDetalle" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="zListaPedidoCompraRegistrarLinea">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="zListaPedidoCompraRegistrarLineaResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q8="http://schemas.datacontract.org/2004/07/EXO_WS_GP" minOccurs="0" name="zListaPedidoCompraRegistrarLineaResult" nillable="true" type="q8:ListaPedidoCompraRegistrarLinea" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GenerarRecuentoInventario">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="JSON" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="BaseDatos" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="Usuario" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="Password" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GenerarRecuentoInventarioResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GenerarRecuentoInventarioResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RecuentoInventarioMarcarFinalizado">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="BaseDatos" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="Usuario" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="Password" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="NumRecuento" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RecuentoInventarioMarcarFinalizadoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="RecuentoInventarioMarcarFinalizadoResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CompruebaUbicacion_busqueda">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="BaseDatos" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="Usuario" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="Password" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="Filtro" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="ItemCode" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CompruebaUbicacion_busquedaResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="CompruebaUbicacion_busquedaResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CompruebaArticulo_busqueda">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="BaseDatos" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="Usuario" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="Password" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="Filtro" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="Ubicacion" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CompruebaArticulo_busquedaResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="CompruebaArticulo_busquedaResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ListasPickingTraslado">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="BaseDatos" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="Usuario" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="Password" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ListasPickingTrasladoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ListasPickingTrasladoResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DesglosePickingTraslado">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="BaseDatos" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="Usuario" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="Password" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="NumeroPicking" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DesglosePickingTrasladoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="DesglosePickingTrasladoResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GenerarPickingTraslado">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="JSON" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="BaseDatos" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="Usuario" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="Password" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GenerarPickingTrasladoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GenerarPickingTrasladoResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="zListasGenerarTraslado">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="zListasGenerarTrasladoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q9="http://schemas.datacontract.org/2004/07/EXO_WS_GP" minOccurs="0" name="zListasGenerarTrasladoResult" nillable="true" type="q9:GenerarTraslado" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="LeerQR">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="BaseDatos" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="Usuario" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="Password" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="Lectura" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="LeerQRResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="LeerQRResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ListadoImprimir">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="BaseDatos" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="Usuario" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="Password" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="DocEntry" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="ObjType" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ListadoImprimirResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ListadoImprimirResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="LanzoImprimir">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="JSON" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="BaseDatos" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="Usuario" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="Password" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="LanzoImprimirResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="LanzoImprimirResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="zListaLotesImprimir">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="zListaLotesImprimirResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q10="http://schemas.datacontract.org/2004/07/EXO_WS_GP" minOccurs="0" name="zListaLotesImprimirResult" nillable="true" type="q10:ListaLotesImprimir" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="zLotesImprimir">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="zLotesImprimirResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q11="http://schemas.datacontract.org/2004/07/EXO_WS_GP" minOccurs="0" name="zLotesImprimirResult" nillable="true" type="q11:LotesImprimir" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RecepcionTrasladoListado">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="BaseDatos" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="Usuario" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="Password" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RecepcionTrasladoListadoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="RecepcionTrasladoListadoResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RecepcionTrasladosBuscador">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="BaseDatos" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="Usuario" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="Password" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="NumTraslado" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RecepcionTrasladosBuscadorResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="RecepcionTrasladosBuscadorResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RecepcionTrasladoRegistrarLinea2">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="BaseDatos" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="Usuario" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="Password" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="JSON" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RecepcionTrasladoRegistrarLinea2Response">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="RecepcionTrasladoRegistrarLinea2Result" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RecepcionTrasladoResumenFinalizar">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="BaseDatos" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="Usuario" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="Password" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RecepcionTrasladoResumenFinalizarResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="RecepcionTrasladoResumenFinalizarResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RecepcionTrasladoGenerar">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="BaseDatos" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="Usuario" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="Password" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RecepcionTrasladoGenerarResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="RecepcionTrasladoGenerarResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>